<div class="title">
    <table width="100%">
      <tr>
        <td width="80%" align="left">
          <h3>Inbox List</h3>
        </td>
        <td width="20%" align="right">

        </td>
      </tr>
    </table>
</div>
<hr>
<div style="margin:0px;padding: 0px 10px;">
    <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'standard'"
    [headerHeight]="40"
    [footerHeight]="40"
    [limit]="10"
    [rowHeight]="40"
    [reorderable]="reorderable"
    [selected]="selected"
    [selectionType]="'single'"
    (select)='onSelect($event)'>
     <!-- [cssClasses]="iconsCss" Custom icon -->
      <ngx-datatable-column name="No"
      [width]= "50"
      [minWidth]= "50"
      [maxWidth]= "50"
      [canAutoResize]= "false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              {{rowIndex + 1}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ID" *hideItBootstrap="['xs','sm']"
      prop= "leave_header.wf_instance_name"
      [width]= "150"
      [minWidth]= "150"
      [maxWidth]= "160"
      [canAutoResize]= "true">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date"
      prop= "date_submitted"
      [flexGrow]="2"
      [width]= "120"
      [minWidth]= "120"
      [maxWidth]= "140"
      [canAutoResize]= "true">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date:'MM/dd/yyyy'}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name"
      prop= "requester_user.name"
      [width]= "300"
      [minWidth]= "300"
      [maxWidth]= "400"
      [canAutoResize]= "true">
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Reason" *hideItBootstrap="['xs','sm']"
      prop= "leave_header.reason.name"
      [width]= "120"
      [minWidth]= "120"
      [maxWidth]= "150"
      [canAutoResize]= "true">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Days" *hideItBootstrap="['xs','sm']"
      prop= "leave_header.leave_days"
      [width]= "50"
      [minWidth]= "50"
      [maxWidth]= "50"
      [canAutoResize]= "true">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Note" *hideItBootstrap="['xs','sm']"
      prop= "leave_header.note"
      [width]= "400"
      [minWidth]= "350"
      [maxWidth]= "500"
      [canAutoResize]= "true">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" *hideItBootstrap="['xs','sm']"
      [flexGrow]="1"
      prop= "status"
      [width]= "200"
      [minWidth]= "200"
      [maxWidth]= "200"
      [canAutoResize]= "true">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{inboxStatus[value]}}
        </ng-template>

        </ngx-datatable-column>
  </ngx-datatable>
</div>
