<div class="card card-container fixed-top" [style.display]="connected ? 'inherit':'none'">
    <h1>{{title}}</h1>
    <hr>
    <form (ngSubmit)="onLogin()" novalidate>
      <div class="bottop">
          <input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="bottop">
        <tr>
          <td style="width: 20%">
              <button type="submit" class="btn btn-primary square" style="width: 120px">Login</button>
          </td>
          <td style="width: 60%">

          </td>
          <td style="width: 20%">
              <button type="button" class="btn btn-warning square" style="width: 120px" (click)="onConnection()">Connection</button>
          </td>
        </tr>
      </div>
    </form>
  </div>
  <div class="fixed-top" [style.display]="!connected ? 'inherit':'none'">
    <app-connection></app-connection>
  </div>
