<app-header></app-header>
<div class="title">
    <table width="100%">
      <tr>
        <td width="80%" align="left">
          <h3>Leave Request</h3>
        </td>
        <td width="20%" align="right">

        </td>
      </tr>
    </table>
</div>
<hr><br>
<div style="padding: 10px;">
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group row input-group" style="padding: 0px 10px;">
        <table width="50%">
          <tr>
            <td width="10%"><label>Reason</label></td>
            <td width="40%">
              <ng-select [(ngModel)]="reason" name="reason" class="square" style="width:320px;">
                <ng-option *ngFor="let reason of reasons" [value]="reason.id" >{{reason.name}}</ng-option>
              </ng-select>
            </td>
          </tr>
          <tr>
            <td><label>Leave Dates</label></td>
            <td>
              <div class="input-group" style="width: 320px;">
                  <input class="form-control square" style="float:none;" placeholder="Select a date" ngx-mydatepicker name="mydate"
                  [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default square" (click)="dp.toggleCalendar()">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="form-group row" style="margin: 0px;">
                <table width="320px" frame="border" bordercolor="#AAA">
                  <tbody style="height: 100px;display: inline-block;overflow-y: auto;">
                    <tr width="320px" height="32" *ngFor="let leave of leave_dates">
                      <td style="padding: 0px 5px;">{{leave | date:'MM/dd/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Note</label></td>
            <td>
              <input style="width: 320px;" type="text" class="form-control square" id="note" placeholder="Please leave a note" [(ngModel)]="note" name="note" required>
            </td>
          </tr>
        </table>
      </div>

        <div class="form-group row" style="padding: 0px 10px;width: 500px;">
          </div>
        <hr>
        <div class="form-group row" style="padding: 0px 10px;">
          <button type="submit" class="btn btn-primary square" style="width: 140px;">Submit</button>
          <button type="button" class="btn btn-default square" style="margin-left: 20px;width: 140px;" (click)="onCancel()">Cancel</button>
        </div>
      </form>

  </div>
  <hr>
<app-footer></app-footer>
