<div class="title">
    <table width="100%">
      <tr>
        <td width="80%" align="left">
          <h3>Leave Request</h3>
        </td>
        <td width="20%" align="right">
            <button type="button" class="btn btn-warning square" (click)="onCancel()">
                <span class="fa fa-times"></span>
            </button>
        </td>
      </tr>
    </table>
</div>
<hr><br>
<div style="padding: 10px;width: 400px;">
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group input-group divTable" style="width: 400px;">
        <div class="divBody" style="width: 400px;">
          <div class="divRow" style="margin-top: 10px;">
            <div *showItBootstrap="['xs','sm']" class="divCell" style="width: 100px;">
              <label>Reason</label>
            </div>
            <div *showItBootstrap="['md','lg','xl']" class="divCell" style="width: 120px;">
              <label>Reason</label>
            </div>
            <div class="divCell" style="width: 240px;">
              <ng-select [(ngModel)]="reasonId" name="reason" class="square">
                <ng-option *ngFor="let reason of reasons" [value]="reason.id" >{{reason.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="divRow" style="margin-top: 10px;">
            <div *showItBootstrap="['xs','sm']" class="divCell" style="width: 100px;">
              <label>Leave Dates</label>
            </div>
            <div *showItBootstrap="['md','lg','xl']" class="divCell" style="width: 120px;">
              <label>Leave Dates</label>
            </div>
            <div class="divCell" style="width: 220px;">
                <div class="input-group">
                  <input class="form-control square" style="float:none;" placeholder="Select a date" ngx-mydatepicker name="mydate"
                      [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                  <span class="input-group-btn" style="display:inline">
                    <button type="button" class="btn btn-default square" (click)="dp.toggleCalendar()">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
            </div>
          </div>
          <div class="divRow" style="margin-top: 10px;">
              <div class="divCell" style="width: 100px;">

              </div>
              <div class="divCell" style="width: 240px;">
                <table width="100%" >
                  <tr>
                    <td style="vertical-align: top;"></td>
                    <td style="vertical-align: top;">
                      <div style="height: 80px;">
                        <tr *ngFor="let item of leave_dates; let i = index">
                          <td width=30px>{{i + 1}}.</td>
                          <td width=20px></td>
                          <td width=100px>{{item | date:'MM/dd/yyyy'}}</td>
                        </tr>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="divRow">
                <div *showItBootstrap="['xs','sm']" class="divCell" style="width: 100px;">
                  <label>Note</label>
                </div>
                <div *showItBootstrap="['md','lg','xl']" class="divCell" style="width: 120px;">
                  <label>Note</label>
                </div>
                <div *showItBootstrap="['xs','sm']" class="divCell" style="width: 240px;">
                    <input style="width: 240px;" type="text" class="form-control square" id="note" placeholder="Please leave a note" [(ngModel)]="note" name="note" required>
                </div>
                <div *showItBootstrap="['md','lg','xl']" class="divCell" style="width: 260px;">
                    <input style="width: 260px;" type="text" class="form-control square" id="note" placeholder="Please leave a note" [(ngModel)]="note" name="note" required>
                </div>
              </div>
          </div>
      </div>

      <hr>
        <div class="form-group row" style="padding: 0px 10px;">
          <button type="submit" class="btn btn-primary square" style="width: 140px;">Submit</button>
          <button type="button" class="btn btn-warning square" style="margin-left: 20px;width: 140px;" (click)="onCancel()">Cancel</button>
        </div>
      </form>

  </div>

