/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~angular-notifier/styles.css';
@import '~ng2-slim-loading-bar/style.css';

.slim-loading-bar {
  margin-top: 56px;
}
.card-container.card {
  max-width: 375px;
  padding: 40px 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

}
.card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.bottop {
  margin-bottom: 10px;
  margin-top: 10px;
}
body { padding-top: 58px; }
.divTable {
  display: block;
  table-layout: auto;
  border-collapse:separate;
    border-spacing:0 5px;
}
.divRow {
  display: table-row;
}
.divBody {
  display: table-row-group;
}
.divCell, .divHead {
  display: table-cell;
  white-space: wrap;
}
td > div { overflow-y:auto;overflow-x:hidden;}
button > span {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.ng-select-container{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.scroll {
  height: 420px;
  overflow-y: auto;
}
.notifier__notification--material {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.square{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.title{
  display: block;
  width:100%;
  margin: 0px;
  padding: 0px 10px;
  position: fixed;
  background: #AAA;
}
.subtitle {
  vertical-align:middle;
  text-align: center;
  line-height: 80%;
  padding: 0px 10px;
}
.subtitle hr{
  padding:0;
  margin:0;
}
ul li:hover {
  background: #AAA;
}
ul li:hover ul {display: block;}
.show-more-container {
  overflow: hidden;
}

.show-more-collapse, .show-more-expand {
  text-align: center;
  display: none;
}

.show-more-expanded > .show-more-collapse {
  display: inherit;
}

.show-more-collapsed > .show-more-expand {
  display: inherit;
}
.ngx-datatable .datatable-body .datatable-body-row{
  vertical-align:middle;
  text-align: center;
  line-height: 80%;
  padding: 0px !important;
}
.ngx-datatable .datatable-footer .page-count{
  display: none !important;
}
.fade {
  -webkit-animation: fadeInOut 1s ease;
  -webkit-animation-delay: 2s;
  animation: fadeInOut 1s ease;
  animation-delay: 2s;
}
.slide {
  -webkit-animation: slide 1s ease forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s ease forwards;
  animation-delay: 2s;
}
.centre{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
tabset{
  margin: 0;
  outline: 0;
  border:none !important;
}
@media only screen and (max-width: 576px) {
.one{
    display: none;
    }
}
